---
layout: default
---
  
<div class="row">
    <div class="side">
        <a href="./">
            <img src="/assets/images/arrow_back.png" style="width:24px;height:24px;">
        </a>
        <div class="download_button">
            <a href="/assets/magazines/{{page.edition}}.pdf" download="{{page.edition}}.pdf">
                <img src="/assets/images/downloadpdfbutton.svg" style="width:173;height:47">
            </a>
        </div>
        <h4>(Tip: Hit the fullscreen button on the magazine for a better reading experience!)</h4>
    </div>

    <div class="main">
        <div class="canva">
            {{content}}
        </div>
    </div>
</div>
  