---
layout: default
---
<div class="header">
    <a href="{{site.url}}">
      <img src="./assets/images/logo.svg" alt="Wacky Fun logo" style="width:100px;height:100px;">
    </a>
    <h1>{{page.title}}</h1>
  </div>
  
<div class="row">
    <div class="side">
        <a href="./">
            <img src="../images/arrow_back.png" style="width:24px;height:24px;">
        </a>
        <div class="download_button">
            <a href="./magazines/{{page.edition}}.pdf" download="{{page.edition}}.pdf">
                <img src="./assets/images/downloadpdfbutton.svg" style="width:173;height:47">
            </a>
        </div>
        <h4>(Tip: Hit the fullscreen button on the magazine for a better reading experience!)</h4>
    </div>

    <div class="main">
        <div class="canva">
            {{content}}
        </div>
    </div>
</div>
  